html,
body {
  width: 100%;
  
}

body {
  overflow-x: hidden;
}

.right i {
  padding-left: 20px;
  color: rgb(239, 240, 233);
  font-size: 1.3rem;
  padding-right: 1rem;
}

/* Navbar */

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2.5rem;  
  padding-left: 0.5rem;
  font-weight: bold;
}

/* adding hover effects on links  */

#navbar ul li a:hover {
  color: rgb(253, 132, 138);
  font-weight: bold;
  font-size: 20px;
}


#navbar img:hover {
  width: 70px;
}

.right i {
  color: white;
}

.right i:hover {
  color: rgb(253, 132, 138);
}

/* Copyright */

a {
  text-decoration: none;
}

.copyright {
  text-decoration: none;
  color: antiquewhite;
}

.projtitle,
.bottom-heading {
  font-family: "Titillium Web", sans-serif;
  color: rgb(13, 90, 161);
}

/* 1. typewriter effect for tag line */

/* Google Fonts */

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.line-1 {
  position: relative;
  top: 50%;
  width: 34em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 150%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  font-family: "Anonymous Pro", monospace;
}

/* Animation */

.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 34em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}

/* 2. adding a border to the card div and accordion */

.card-body,
.card-m-4 {
  border: 1px solid rgba(243, 239, 239, 0.75);
}

.accordion-item {
  border: 1px solid black;
}

/* adding a line before the link in accordion  */

.line {
  margin-top: 4px;
  border-top: 1px dotted #333131;
  text-align: center;
  font-weight: bold;
}

/* changing hr style  */

hr {
  border-style: none;
  border-top-style: dotted;
  width: 150px;
  border-color: #1d1b1b !important;
  border-width: 5px;
  background-color: white !important;
  size: 3px;
  height: 1px;
  margin: auto;
}


/* EMAIL */

.email:hover{
  color: rgb(253, 132, 138);;
}

/* Newsletter */



/* .sub {
    text-align: center;
    } */

/* newsletter subscribe button  */

/* .btn:hover {
    background-color: aquamarine;
    box-shadow: 0px 15px 20px rgba(23, 70, 50, 0.4);
    color: black;
    transform: translateY(-7px);
    border: 1px solid rgb(1, 32, 22);
} */

/* Media queries */

@media (max-width: 300px) {
  .line-1 {
    font-size: 0.5rem;
  }.map{
    width: 220px;
    height: 180px;
  }
  .songName{
    display: none;
  }
  #masterSongName{
    display: none;
  }
  .songInfo{

    position: absolute;
      left: 1vw;
  }

}

@media (min-width: 300px) and (max-width: 500px) {
  .line-1 { 
    font-size: 0.7rem;
  }
  .display-4{
    font-size: 3rem;
  }

  .bottom-heading {
    padding-left: 1rem;
  }
  .author{
    padding-top: 1rem;
  }
  .map{
    width: 300px;
    height: 220px;
  }
  .songName{
    display: none;
  }
  #masterSongName{
    display: none;
  }
  .songInfo{

    position: absolute;
      left: 3vw;
  }
  .songItem{
    padding-right: 30px;
    width: 200px;
  }
  
  input[type="range"] {
    width:150px !important;
  }
  
}

@media (min-width: 500px) and (max-width: 800px) {
  .line-1 {
    font-size: 0.9rem;
  }
  .map{
    width: 450px;
    height: 280px;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .line-1 {
    font-size: 100%;
  }
}

@media (min-width: 1000px) {
  .line-1 {
    font-size: 150%;
  }
  
}

